extends ../layout

block content
  h1= title
  p 
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor ducimus non? Explicabo impedit, fugiat molestiae optio deleniti tempore iste totam temporibus at debitis exercitationem officiis aliquid dolore, voluptas magni.