html(lang="en")
    head
        title Sports Blog
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        include ./navbar.pug
        block content
        hr
        footer
            .container
                Copyright &copy; 2018, SportsBlog


        script(src="/js/jquery.js")
        script(src="/js/bootstrap.js")
        script(src="/js/main.js")