extends ../layout/layout.pug

block content
    .container
        .row
            .col-md-9
                h1 #{title}
            .col-md-3
                a(class="btn btn-primary custom-btn" href="/manage/categories/add") Add Category
        != messages()
        table(class="table table-striped")
            tr
                th Category Title
                th
            each category, i in categories
                tr
                    td #{category.title}
                    td
                        a(class="btn btn-tiny btn-default " href="/manage/categories/edit/"+category._id) Edit